/* Plassering av vinner-modal */
.winner {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-left: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 8px;
    background-color: white;
    min-height: 280px;
    z-index: 1;
}

/* Gi bakgrunnen litt mørkere farge */
.darken-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.5;
}

.winner-name {
    color: var(--color-text-dark);
}

h4 {
    color: var(--color-text-dim);
    margin: 0 0 15px;
}

/* Hver linje med resultater */
.result-line {
    width: 150px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-winner-background);
    color: var(--color-button-text);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0;
}

/* Resultatside ved kun 1 spiller */
.result-page {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Avstand i mellom resultater og kanpperad for side med 1 spiller */
.result-page-top {
    gap: 20px;
}

/* Farge på resultat for spillere som ikke vant */
.no-winner {
    background-color: var(--color-no-winner-background);
    color: var(--color-text-dark);
}

.buttons-winnerpage {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Endringer for liten skjerm */
@media (max-width: 500px) {
    .winner {
        top: 35px;
        left: 50%;
        margin-left: -140px;
        width: 280px;
        border-radius: 8px;
        min-height: 280px;
    }

    h3 {
        font-size: 0.6rem;
    }

    .button {
        padding: 3px 5px;
    }
}