img {
    width: 0px;
    padding: var(--medium-circle);
    background-color: var(--color-circle-hidden);
    border-radius: 50%;
    overflow: visible;
}

.onclick-off {
    pointer-events: none;
}

.cursor {
    cursor: pointer;
}
  
@keyframes rotate-circle {
  0% {
    width: 0px;
    padding: var(--medium-circle);
    transform: rotateY(180deg);
    background-color: var(--color-circle-hidden);
  }
  50% {
    width: 0px;
    padding: var(--medium-circle);
    background-color: var(--color-circle-hidden);
  }
  51% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
  }
  100% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
    transform: rotateY(360deg);
  }
}

@keyframes rotate-old-back {
  0% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
    transform: rotateY(360deg);
  }
  75% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
    transform: rotateY(360deg);
}
87% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
}
88% {
    width: 0px;
    padding: var(--medium-circle);
    background-color: var(--color-circle-hidden);
}
100% {
    width: 0px;
    padding: var(--medium-circle);
    transform: rotateY(180deg);
    background-color: var(--color-circle-hidden);
}
}

@keyframes rotate-new-back {
    0% {
        width: 0px;
        padding: var(--medium-circle);
        transform: rotateY(180deg);
        background-color: var(--color-circle-hidden);
    }
    12% {
        width: 0px;
        padding: var(--medium-circle);
        background-color: var(--color-circle-hidden);
    }
    13% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
    }
    25% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
      }
    75% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    87% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
    }
    88% {
        width: 0px;
        padding: var(--medium-circle);
        background-color: var(--color-circle-hidden);
    }
    100% {
        transform: rotateY(180deg);
        background-color: var(--color-circle-hidden);
    }
}

@keyframes circle-found {
    0% {
        width: 0px;
        padding: var(--medium-circle);
        transform: rotateY(180deg);
    }
    25% {
        width: 0px;
        padding: var(--medium-circle);
        background-color: var(--color-circle-hidden);
    }
    26% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
    }
    50% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    99% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    100% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-found);
        transform: rotateY(360deg);
    }
}

@keyframes circle-old-found {
    0% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    50% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    99% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    100% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-found);
        transform: rotateY(360deg);
    }
}

.grid {
    width: var(--main-width);
    margin: auto auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 20px;
}

.header {
    margin: 20px auto 20px;
    width: 700px;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.run-game-button {
    background-color: var(--color-button-restart-bckground);
    color: var(--color-button-text);
    padding: 5px 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

.run-game-button:last-of-type {
    background-color: var(--color-button-newgame-bckground);
    color: var(--color-button-newgame);
}

.run-game-button:first-of-type:hover {
    opacity: 0.7;
}

.run-game-button:last-of-type:hover {
    background-color: var(--color-button-newgame);
    color: var(--color-button-text);
}

.player-line {
    margin: 20px auto 0;
    width: 500px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

.player {
    position: relative;
    width: 75px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-circle-found);
    z-index: -1;
}

@media (max-width: 500px) {
    .header {
        margin: 10px auto 10px;
        max-width: 80%;
    }
    .player-line {
        margin: 20px auto 0;
        width: calc(35px + var(--main-width));
    }
    .player {
        width: 50px;
        padding: 3px 7px;
    }

    .run-game-button {
        padding: 3px 7px;
    }
}

.active-player.player::before {
    content: "Current Turn";
    letter-spacing: 0.75px;
    position: absolute;
    margin-left: -5px;
    font-size: x-small;
    font-weight: bold;
    text-transform: uppercase ;
    top: 35px;
}

@media (max-width: 500px) {
    .active-player.player::before {
        visibility: hidden;
    }
}

.player::after {
    content: "";
    padding: 8px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: -8px;
    rotate: 45deg;
    z-index: -1;
}

.active-player, .active-player.player::after {
    background-color: var(--color-circle-active);
}