/* Bilde på brikkene */
img {
    width: 0px;
    padding: var(--medium-circle);
    background-color: var(--color-circle-hidden);
    border-radius: 50%;
    overflow: visible;
}

/* Slår av musklikk på brikker som er snudd */
.onclick-off {
    pointer-events: none;
}

/* Pointer-cursor over brikker */
.cursor {
    cursor: pointer;
}

/* Rotere brikke 1 slik at den blir synlig */
@keyframes rotate-circle {
  0% {
    width: 0px;
    padding: var(--medium-circle);
    transform: rotateY(180deg);
    background-color: var(--color-circle-hidden);
  }
  50% {
    width: 0px;
    padding: var(--medium-circle);
    background-color: var(--color-circle-hidden);
  }
  51% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
  }
  100% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
    transform: rotateY(360deg);
  }
}

/* Rotere brikke 1 tilbake */
@keyframes rotate-old-back {
  0% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
    transform: rotateY(360deg);
  }
  75% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
    transform: rotateY(360deg);
}
87% {
    width: var(--large-circle);
    padding: var(--small-circle);
    background-color: var(--color-circle-active);
}
88% {
    width: 0px;
    padding: var(--medium-circle);
    background-color: var(--color-circle-hidden);
}
100% {
    width: 0px;
    padding: var(--medium-circle);
    transform: rotateY(180deg);
    background-color: var(--color-circle-hidden);
}
}

/* Rotere brikke 2 slik at den blir synlig og tilbake hvis den er feil */
@keyframes rotate-new-back {
    0% {
        width: 0px;
        padding: var(--medium-circle);
        transform: rotateY(180deg);
        background-color: var(--color-circle-hidden);
    }
    12% {
        width: 0px;
        padding: var(--medium-circle);
        background-color: var(--color-circle-hidden);
    }
    13% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
    }
    25% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
      }
    75% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    87% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
    }
    88% {
        width: 0px;
        padding: var(--medium-circle);
        background-color: var(--color-circle-hidden);
    }
    100% {
        transform: rotateY(180deg);
        background-color: var(--color-circle-hidden);
    }
}

/* Rotere brikke 2 hvis den er rett */

@keyframes circle-found {
    0% {
        width: 0px;
        padding: var(--medium-circle);
        transform: rotateY(180deg);
    }
    25% {
        width: 0px;
        padding: var(--medium-circle);
        background-color: var(--color-circle-hidden);
    }
    26% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
    }
    50% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    99% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    100% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-found);
        transform: rotateY(360deg);
    }
}

/* Rotere brikke 1 hvis den er rett */
@keyframes circle-old-found {
    0% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    50% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    99% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-active);
        transform: rotateY(360deg);
    }
    100% {
        width: var(--large-circle);
        padding: var(--small-circle);
        background-color: var(--color-circle-found);
        transform: rotateY(360deg);
    }
}

/* Oppsett av grid for brikker */
.grid {
    width: var(--main-width);
    margin: auto auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    gap: 20px;
}

/* Knapper over grid */
.buttons {
    display: flex;
    gap: 20px;
}

/* Restart-knapp */
.run-game-button {
    background-color: var(--color-button-restart-bckground);
    color: var(--color-button-text);
    padding: 5px 10px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

/* New game - knapp */
.run-game-button:last-of-type {
    background-color: var(--color-button-newgame-bckground);
    color: var(--color-button-newgame);
}

/* Hover restart-knapp */
.run-game-button:first-of-type:hover {
    opacity: 0.7;
}

/* Hover new game - knapp */
.run-game-button:last-of-type:hover {
    background-color: var(--color-button-newgame);
    color: var(--color-button-text);
}

/* Footer med spillere */
.player-line {
    margin: 20px auto 0;
    width: 500px;
    max-width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Hver enkelt spiller i footer */
.player {
    position: relative;
    width: 75px;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    background-color: var(--color-circle-found);
    z-index: -1;
}

/* Plassering av "Current Turn" under aktiv spiller */
.active-player.player::before {
    content: "Current Turn";
    letter-spacing: 0.75px;
    position: absolute;
    margin-left: -5px;
    font-size: x-small;
    font-weight: bold;
    text-transform: uppercase ;
    top: 35px;
}

/* Plassering av "pil/trekant" over aktiv spiller */
.player::after {
    content: "";
    padding: 8px;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: -8px;
    rotate: 45deg;
    z-index: -1;
}

/* Farge på aktiv spiller */
.active-player, .active-player.player::after {
    background-color: var(--color-circle-active);
}

/* Endringer for liten skjerm */
@media (max-width: 500px) {
    .header {
        margin: 10px auto 10px;
        max-width: 80%;
    }
    .player-line {
        margin: 20px auto 0;
        width: calc(35px + var(--main-width));
    }
    .player {
        width: 50px;
        padding: 3px 7px;
    }

    .run-game-button {
        padding: 3px 7px;
    }
    
    .active-player.player::before {
        visibility: hidden;
    }
}