/* Hovedside med navn på spill og modal med valgmuligheter */
.main {
    display: flex;
    flex-direction: column;
    width: 50vw;
    align-items: center;
    margin: auto;
}

/* Frame med valgmuligheter */
.selections-frame {
    background-color: var(--color-modal-bckground);
    width: 50vw;
    max-width: 400px;
    border-radius: 15px;
    padding: 30px;
    margin: 0;
}

h1 {
    color: var(--color-button-text)
}

h2 {
    margin: 1rem 0 0.75rem;
    font-size: 0.7rem;
}

h3 {
    margin: 0;
    font-size: 0.85rem;
}

/* Hver enkelt linje med knapper */
.button-line {
    display: flex;
    gap: 10px;
}

/* Felles for alle knapper */
.button {
    background-color: var(--color-button-bckground);
    color: var(--color-button-text);
    flex-grow: 1;
    padding: 5px 0;
    width: 50px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
}

/* Start game - knapp */
.start-game {
    background-color: var(--color-button-start-bckground);
    width: unset;
    margin-top: 2rem;
}

/* Farge på knapper som er valgt */
.selected {
    background-color: var(--color-button-selected);
}

/* Endringer for liten skjerm */
@media (max-width: 500px) {
    h2 {
        font-size: 0.5rem;
    }

    h3 {
        font-size: 0.6rem;
    }

    .button {
        padding: 3px 5px;
    }
}